<h3>Showing <%= @users.count %> users</h3>

<% @users.each do |user| %>
  <%= div_for user do %>
    <div class="pull-right">
      <%= link_to 'Delete', user, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
    </div>
    <div>
      <%= link_to user.username, user %>
    </div>
  <% end %>
<% end %>