// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {

  .numbers {
    width: 120px;
    height: 120px;
    float: left;
    background-color: #ddd;
    margin: 0 20px 20px 0;
    padding: 10px;

    &.clear {
      background-color: #fff;
    }

    .score {
      font-size: 30px;
      text-align: center;
      margin: 15px 0 10px 0;
    }

    .suffix {
      text-align: center;
    }

    .promote {
      width: 80px;
      margin: 10px auto 0 auto;
    }
  }

  .body {
    width: 75%;
    display: inline-block;

    h3 {
      margin: 0 15px 5px 0;
      display: inline-block;
    }

    h6 {
      margin: 0;
    }

    .info {
      margin-bottom: 15px;
    }

    .membership {
      margin-bottom: 35px;
    }

    .controls {
      margin: 20px 0;
    }
  }

  margin-bottom: 20px;
}

@media(max-width: 600px) {
  .project .body {
    display: block;
    width: auto;
  }
}