// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#left-col {
  width: 200px;
  float: left;
  padding-right: 20px;

  .profile-img {
    width: 180px;
    height: 180px;
    padding: 6px;
    border: 1px solid #888;
  }

}

#right-col {
  width: 75%;
  display: inline-block;
}

.profile-contact {
  padding-bottom: 30px;
}

.user {
  width: 300px;
  height: 60px;
}